/* 전체 페이지 스타일 */
.profile-settings-page {
  font-family: Arial, sans-serif;
}

/* 콘텐츠 영역 스타일 */
.content {
  display: flex;
  height: calc(100vh - 50px);
}

/* 메인 콘텐츠 스타일 */
.profile-settings-main-content {
  width: 80%;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

/* 프로필 설정 콘텐츠 스타일 */
.profile-settings-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  background-color: #fff;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

/* 제목과 첫 번째 폼 그룹 사이 간격 추가 */
.profile-settings-content h1 {
  margin-bottom: 40px; /* 간격을 원하는 만큼 조정하세요 */
}

/* 프로필 설정 폼 스타일 */
.profile-settings-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 500px;
  gap: 20px;
}

/* 폼 그룹 스타일 */
.form-group {
  width: 100%;
  margin-bottom: 30px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  box-shadow: none;
}

/* 폼 버튼 그룹 스타일 */
.form-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 5px;
}

.form-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-button {
  background-color: #28a828;
  color: white;
}

.cancel-button {
  background-color: #e35856;
  color: white;
}

/* 사이드 네비게이션 스타일 */
.sidenav {
  width: 20%;
  background-color: #f8f8f8;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: fixed;
  height: 100%;
}

/* 메인 콘텐츠 스타일 */
.main-content {
  margin-left: 20%;
  width: 80%;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px);
}
