.profile-settings-page {
  font-family: Arial, sans-serif;
}

.content {
  display: flex;
  height: calc(100vh - 50px);
}

.profile-settings-main-content {
  width: 80%;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.profile-settings-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  background-color: #fff;
  margin: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.profile-settings-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 500px;
  gap: 20px;
}

.form-group {
  width: 100%;
  margin-bottom: 30px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #ccc; /* Border 설정 */
  box-shadow: none; /* 그림자 삭제 */
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 5px;
}

.form-buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.save-button {
  background-color: #28a828;
  color: white;
}

.cancel-button {
  background-color: #e35856;
  color: white;
}
