.profile-settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: auto; /* 스크롤 가능하도록 설정 */
    padding: 20px; /* 폼 주변에 여백 추가 */
  }
  
  .profile-settings-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    gap: 20px; /* 요소들 사이의 간격을 20px로 설정 */
  }
  
  .form-group {
    width: 100%;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .form-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .form-buttons button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .save-button {
    background-color: #90ee90; /* 연녹색 */
    color: white;
  }
  
  .cancel-button {
    background-color: #ffcccb; /* 연붉은 색 */
    color: white;
  }
  