.header-container {
  display: flex;
  justify-content: center; /* 중앙 정렬 */
  align-items: center;
  position: relative;
  margin-bottom: 20px;
  width: 100%;
}

.header-container h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.search-button {
  position: absolute;
  right: -100px; /* 오른쪽 여백 추가 */
}

.room-list-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-list-container {
  width: 80%; /* 필요에 따라 조정하세요 */
  padding: 20px;
  padding-bottom: 150px; /* Footer 높이만큼 여백 추가 */
}

.room-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.room-item {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: calc(50% - 20px); /* 가로폭 조정 (50% - 20px) */
  box-sizing: border-box;
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
}

.pagination li.active {
  background-color: #007bff;
  color: white;
}

.dots {
  padding: 5px 10px;
}
