.footer {
  display: flex;
  /* flex-direction: column; 높이를 줄이기 위해 플렉스 방향을 변경 */
  justify-content: space-between;
  /* align-items: center; */
  background-color: #171010;
  /* TopNav와 동일한 배경색 */
  padding: 10px 20px;
  /* 패딩 값을 줄여 높이를 낮춤 */
  /* border-top: 1px solid #ddd; */
  /* 상단 경계선 추가 */
  color: white;
  /* 텍스트 색상을 검은색으로 설정 */
  /* text-align: center; */
  position: relative;
  z-index: 2;
}

.footer-left {
  text-align: left;
}

.footer-right {
  text-align: right;
}

.footer-right img {
  height: 2rem;
  width: auto;
  display: block;
  /* 블록 요소로 변경 */
  margin-left: auto;
  /* 왼쪽 여백을 자동으로 설정하여 오른쪽 정렬 */
}