.myPage {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #f8f8f8;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

.content {
  display: flex;
  flex: 1;
  overflow: hidden; /* 전체 레이아웃에서 스크롤 비활성화 */
}

.sidebar {
  width: 20%;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: calc(100vh - 50px); /* 헤더 높이를 뺀 전체 높이 */
  overflow-y: auto; /* 필요 시 스크롤 활성화 */
  position: fixed;
}

.main-content {
  margin-left: 20%;
  width: 80%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 50px); /* 전체 높이 사용 */
  overflow-y: auto; /* 필요 시 스크롤 활성화 */
}

.profile-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 20px;
}

.profile-info h2 {
  font-size: 1.5em;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  grid-column: span 2;
  text-align: left; /* 헤더 왼쪽 정렬 */
}

.profile-info div {
  display: flex;
  flex-direction: column;
}

.profile-info p {
  margin: 0;
  text-align: left;
  margin-bottom: 10px;
}

.chat-history h2, .video-chat-history h2, .friends h2 {
  font-size: 1.5em;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  text-align: left; /* 헤더 왼쪽 정렬 */
}

.chat-history ul, .video-chat-history ul, .friends ul {
  text-align: left; /* 텍스트 왼쪽 정렬 */
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
}

span {
  color: #999;
}

.chat-history, 
.video-chat-history, 
.friends {
  margin-bottom: 30px; /* 섹션 간의 간격 조정 */
}
